In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
data = pd.read_csv("../data/raw/Online Retail.csv")
data.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,InvoiceDate,Year,Month,Week,Day,DayOfWeek
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850,United Kingdom,2010-01-12 08:26:00,2010,1,2,12,1
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850,United Kingdom,2010-01-12 08:26:00,2010,1,2,12,1
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850,United Kingdom,2010-01-12 08:26:00,2010,1,2,12,1
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850,United Kingdom,2010-01-12 08:26:00,2010,1,2,12,1
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850,United Kingdom,2010-01-12 08:26:00,2010,1,2,12,1

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384721 entries, 0 to 384720
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    384721 non-null  int64
 1   StockCode    384721 non-null  object
 2   Description  384721 non-null  object
 3   Quantity     384721 non-null  int64
 4   UnitPrice    384721 non-null  float64
 5   CustomerID   384721 non-null  int64
 6   Country      384721 non-null  object
 7   InvoiceDate  384721 non-null  object
 8   Year         384721 non-null  int64
 9   Month        384721 non-null  int64
 10  Week         384721 non-null  int64
 11  Day          384721 non-null  int64
 12  DayOfWeek    384721 non-null  int64
dtypes: float64(1), int64(8), object(4)
memory usage: 38.2+ MB

In [19]:
data.describe()

,InvoiceNo,Quantity,UnitPrice,CustomerID,Year,Month,Week,Day,DayOfWeek
count,384721.000000,384721.000000,384721.000000,384721.000000,384721.000000,384721.000000,384721.000000,384721.000000,384721.000000
mean,560650.562696,8.306412,2.910920,15306.496804,2010.934105,6.950788,28.312603,15.719618,2.794628
std,13122.332768,9.301336,4.187107,1709.496226,0.248098,3.329745,14.597166,8.043975,1.977688
min,536365.000000,1.000000,0.100000,12347.000000,2010.000000,1.000000,1.000000,1.000000,0.000000
25%,549241.000000,2.000000,1.250000,13982.000000,2011.000000,4.000000,16.000000,10.000000,1.000000
50%,561900.000000,5.000000,1.950000,15187.000000,2011.000000,7.000000,29.000000,15.000000,3.000000
75%,572182.000000,12.000000,3.750000,16807.000000,2011.000000,10.000000,42.000000,22.000000,4.000000
max,581587.000000,54.000000,649.500000,18287.000000,2011.000000,12.000000,52.000000,31.000000,6.000000

In [20]:
data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'UnitPrice',
       'CustomerID', 'Country', 'InvoiceDate', 'Year', 'Month', 'Week', 'Day',
       'DayOfWeek'],
      dtype='object')

InvoiceDate
2010-01-12 08:26:00     5.714286
2010-01-12 08:28:00     6.000000
2010-01-12 08:34:00     6.125000
2010-01-12 08:35:00     3.000000
2010-01-12 08:45:00    23.473684
                         ...
2010-01-12 16:57:00     2.382353
2010-01-12 16:58:00     2.000000
2010-01-12 17:15:00     3.800000
2010-01-12 17:22:00     6.800000
2010-01-12 17:24:00     4.800000
Name: Quantity, Length: 100, dtype: float64